
/*Header*/

header{
    background-color: var(--color-neutral-1);
    padding: 12px 4%;
    position: sticky;
    top: 0;
    z-index: 1;
    user-select: none;

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            width: 180px;
        }

        ul, .btn-default{
            display: none;

            &.show {
                display: flex;
            }
        }

        ul {
            background-color: var(--color-neutral-1);
            flex-direction: column;
            position: absolute;
            list-style: none;
            padding: 1rem;
            gap: 0.5rem;
            width: 100%;
            top: 80px;
            left: 0;

            li{
                text-align: center;

                a {
                    color: var(--color-neutral-8);
                    text-decoration: none;
                    font-size: 1rem;
                    font-weight: 500;
                    transition: all 0.3s ease;

                    &:hover {
                        color: var(--color-primary-1);
                        border-bottom: 1px solid var(--color-primary-1);
                    }
                }
            }
        }
    }
}

@media (min-width: 769px) {
    header {
        .navbar {
            .btn-mobile {
                display: none;
            }

            ul {
                display: flex;
                flex-direction: row;
                position: static;
                width: auto;
                padding: 0;
            }

            .btn-default {
                display: block;;
            }
        }
    }
}